

@media only screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 60%;
    }
}

* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    background-color: #1a1a1e;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    cursor: pointer;
}

.chat-input:focus {
    outline: 1px solid #494950;
}

.color-icon {
    cursor: pointer;
    transition: outline;
    transition-duration: 0.05s;
}

.color-icon.selected {
    cursor: pointer;
    outline: 2px solid white;
}

.color-icon:hover {
    outline:  2px solid white;
}

.user-item {
    transition: background-color;
    transition-duration: 0.1s;
}

.user-item:hover {
    cursor: pointer;
    background-color: #242428;
}

.noselect {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
