* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    background-color: #1a1a1e;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    cursor: pointer;
}

.chat-input:focus {
    outline: 1px solid gray;
}
